page-home {
    .logo{
        //width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20%;
    }
    .lote{
        font-size: 22px;
        //width: 45%;
        //margin: 0;
    }

    .lote-input{
        //width: 45%;
        //margin: 0;
    }

    .botao-inciar{
        //margin-left: 20%;
        //margin-right: 20%;
    }

    .input-cover{
        border: 1px solid black;
    }

    .grid{
        margin-bottom: 10%; margin-top: 30%;
    }

    .buttons-footer {
        margin-left: 5%; margin-right: 5%;
    }

    .button-iniciar{
        margin-bottom: 2%;
    }


    ion-input{
        background-color: lightblue;
    }
    
}

.toastCtrl{
    text-align: center;
}
