<ion-content padding>
  <img src="../../assets/imgs/logo150.png" alt="" srcset="" class="logo">

  <ion-grid class="grid">
    <ion-row text-center>
      <ion-col col-7 style="text-align: center">
        <p class="lote" item-start>Tamanho do lote: </p>

      </ion-col>
      <ion-col col-3 style="items-align: center; margin: auto;">
        <ion-input [(ngModel)]="loteLength" type="number" value="" class="lote-input"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="buttons-footer">
    <button ion-button block round color="secondary" class="button-iniciar" (click)="submit()">Iniciar</button>
    <button ion-button block round color="danger" (click)="limpar()">Limpar</button>
  </div>
</ion-content>
