<ion-content padding>
  <!--<button ion-button block color="dark" icon-start (click)="verifyAllowebleScan()">
    <ion-icon name="md-barcode"></ion-icon>
    Ler código de barras
  </button>
  <form [formGroup]="mult">
    <ion-list>
      <ion-item>
        <ion-label>Multiplicador</ion-label>
        <ion-select formControlName="mult">
          <ion-option *ngFor="let item of arrayLote" value="{{ item }}" [selected]="item==1">{{item}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form >
  <ion-grid *ngIf="showInput">
    <ion-row>
      <ion-col col-8 style="text-align: center">
        <ion-input [(ngModel)]="input" type="number" placeholder="Digite o código de barras"></ion-input>
      </ion-col>
      <ion-col col-4 style="text-align: center">
        <button ion-button (click)="verifyAllowebleInput()">Adicionar</button>
      </ion-col>
    </ion-row>
  </ion-grid>-->

  <ion-card text-center>
    <ion-card-header>
      <ion-card-title>
        Códigos lidos:
      </ion-card-title>

    </ion-card-header>
    <p *ngFor="let item of lote" style="color: blue">
      {{item}}
    </p>




  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button full round color="secondary" (click)="recontar()">Recontar</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full round color="secondary" (click)="hiddenInput()">Digitar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button full round color="secondary" style="margin-bottom: 2%" (click)="novoLote()">Novo lote</button>
  <button ion-button full round color="danger" (click)="finalizar()">Finalizar</button>

  <div class="footer">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <form [formGroup]="mult">
          <ion-input formControlName="mult" type="number" placeholder="multiplicador"></ion-input>
        </form>
        </ion-col>
        <ion-col col-8>
          <button ion-button block color="dark" icon-start (click)="verifyAllowebleScan()">
            <ion-icon name="md-barcode"></ion-icon>
            Ler código de barras
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showInput"s>
        <ion-col col-8 style="text-align: center">
          <ion-input [(ngModel)]="input" type="number" placeholder="Digite o código de barras"></ion-input>
        </ion-col>
        <ion-col col-4 style="text-align: center">
          <button ion-button (click)="verifyAllowebleInput()">Adicionar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
