page-leitura {
/*
    .input-barcode ion-input{
        width: 50%;
    }

    .input-barcode button{
        float: right;

    }
*/

    .input-wrapper{
        text-align: center;
    }

    .footer{
        bottom: 2%;
        right: 0;
        left: 0;
        text-align: center;
    }

}

.toastCtrl {
    text-align: center;
}