page-enviar-email {
    .text-input-md{
        text-align: center;
    }

    .scroll-content{ /*correção do formulário*/
        padding-bottom: 0!important;
      }


    .container{
        margin-top: 50%;
    }

    .container-button{
        margin-left: 10%;
        margin-right: 10%;
    }

    .container-fechar{
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 45%;
    }
}

.toastCtrl {
    text-align: center;
}