<ion-content text-center>
  <div class="container">
    <h1>Contagem Finalizada.</h1>

    <ion-input [(ngModel)]="to" placeholder="Digite o seu email" type="email"></ion-input>
    <div class="container-button">
      <button ion-button color="light" block round (click)="validaEmail()">Enviar por email</button>
    </div>

    <div class="container-fechar">
        <button ion-button color="danger" block round (click)="goToHome()">Fechar</button>
    </div>
  </div>
</ion-content>
